.header {
  margin: 2rem auto;
  text-align: center;
}

#score-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.score {
  font-size: 3rem;
}

.player {
  text-align: center;
  margin: 2rem 3rem;
}

.score h3 {
  font-weight: 800;
}

.score-cmd .inner {
  display: flex;
  justify-content: center;
}

.dropshot-link {
  font-size: 10px;
  padding: 4px;
  cursor: pointer;
}

.score-cmd a {
  line-height: 2px;
  width: 4rem;
  height: 1.5rem;
  font-weight: 800;
  font-size: large;
  color: whitesmoke;
  cursor: pointer;
  padding: 20px;
  background-color: rgb(68, 118, 255);
  border: 1px solid white;
  border-radius: 3px;
}

.score-cmd .left {
  border-right: 1px solid white;
}

.score-cmd .right {
  border-left: 1px solid white;
}
